@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  margin: 0;
  padding: 0;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ff5733; /* Change to your desired color */
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: white; /* Optional: Change color on hover */
}

.login_img {
  position: absolute;
  top: 0;
  height: 100vh;
}